.footerGrid {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    background-color: $main-color-dark;
    color: $color-light-gray;
    padding-bottom: 10%;
}

.footerGrid__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
    height: auto;
    min-height: 0;
    color: inherit;
    text-align: left;
}

.footerGrid__logo--whiteText {
    margin: 2rem 0;
}

.footerGrid__emailInput {
    width: 100%;
    padding: 10px 10px;
    margin-right: 8px;
    margin-top: 2rem;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2);
    border: 0;
    box-sizing: border-box;
}

.footerGrid__logo--whiteText path[mask="url(#b)"]{
    fill: white;
}

@media (min-width: $desktop-min-width) {
    .footerGrid {
        grid-template-columns: 38% 62%;
        background-color: $main-color-dark;
        color: $color-light-gray;
        padding-bottom: 10%;
    }

    .footerGrid__emailInput {
            width: 220px;
    }
}
