.twoCellsGrid {
    display: grid;
    width: 100%;
    grid-template-rows: 40% 60%;
    box-sizing: border-box;
    padding-bottom: 15%;
}

.twoCellsGrid__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 375px;
    width: 100%;
    box-sizing: border-box;
}

.twoCellsGrid__bigImage {
    max-width: 60vw;
    margin-top: auto;
    margin-bottom: 2rem;
}

.twoCellsGrid__textField {
    padding: 8%;
    text-align: center;
}

.twoCellsGrid__mainTitle {
    font-size: 26px;
    line-height: 1em;
    margin-bottom: 1em;
    color: $color-dark-gray;
}

.twoCellsGrid__cell--accentBackground {
    background: url("img/bg-intro-mobile.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 70%;
}

@media (min-width: $desktop-min-width) {
    .twoCellsGrid {
        grid-template-rows: none;
        grid-template-columns: 50% 50%;
        box-sizing: border-box;
    }

    .twoCellsGrid__cell {
        padding-top: 90px;
        align-items: flex-start;
        box-sizing: border-box;
    }

    .twoCellsGrid__bigImage {
        max-width: 70%;
        min-width: 300px;
        margin: auto 0 0 auto;
        box-sizing: border-box;
    }

    .twoCellsGrid__textField {
        padding: $main-padding;
        text-align: left;
    }

    .twoCellsGrid__mainTitle {
        font-size: 42px;
        line-height: 1.25em;
        margin-bottom: 1em;
    }

    .twoCellsGrid__cell--accentBackground {
        background: url("img/bg-intro-desktop.svg");
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        order: 2;
        padding: $main-padding;
    }
}
